* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


/* Gallery */

.main-gallery {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 20px;
}

.gallery-item {
    margin: 15px;
    border-radius: 12px;
    object-fit: cover;
    max-height: 100%;
}


/* Helpers */

.grid {
    display: grid;
}

.clean-list {
    list-style-type: none;
}

.clean-link {
    text-decoration: none;
}

.clean-link:visited {
    color: initial;
}

.clean-btn {
    outline: none;
}

.btn {
    cursor: pointer;
}