@font-face {
    font-family: montse;
    src: url(../fonts/mont/Montserrat-Regular.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: montse;
}

img {
    max-width: 100%;
}


/* header */

.main-header {
    background-color: #ff7f00;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    box-shadow: inset 0 -6px 0 #ff8f03;
}

.main-logo {
    font-weight: bold;
    font-size: 1.25rem;
    color: white;
}

.main-navbar>* li {
    padding: 0.75rem 0;
}

.main-navbar>* a {
    color: white;
    padding: 25px;
    transition: color 0.35s, box-shadow 0.35s;
}

.main-navbar>* a:hover {
    color: #000;
    font-weight: bold;
    box-shadow: inset 0 -6px 0 rgba(90, 87, 87, 0.75);
}

.main-navbar>* a:focus {
    color: #000;
    font-weight: bold;
    box-shadow: inset 0 -6px 0 rgba(0, 0, 0, 0.75);
}

.main-navbar>* li:not(:last-child) {
    border-right: 1px solid #8a8a8a;
}


/* search-content */

.search-content {
    padding: 1rem;
    justify-content: space-between;
}

.search-content>* span {
    margin-left: 2rem;
}

.search-words .btn {
    border: none;
    text-decoration: underline;
}


/* main-container */

.main-content {
    padding-bottom: 110px;
}


/* Gallery */

.main-content.edit-mode .main-gallery {
    display: none;
}

.main-gallery {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 20px;
    margin: 15px 50px;
}

.gallery-item {
    border-radius: 12px;
    object-fit: cover;
    height: 8rem;
    width: 8rem;
    transition: opacity 0.3s, transform 0.3s;
}

.gallery-item:hover {
    opacity: 0.55;
    transform: rotateZ(5deg);
}


/* Canvas editor */

.main-editor {
    background-color: rgb(241, 237, 226);
    /* width: 100%; */
    display: none;
    padding: 2rem 4rem;
}

.main-content.edit-mode .main-editor {
    display: flex;
}

.canvas-controls {
    margin: 0 6rem;
}

.canvas-controls input,
.change-txt-deco-btns select {
    padding: 0.35rem 0;
    border-radius: 12px;
    font-size: 1.5rem;
    outline: none;
    text-align: center;
}

.change-pos-btns,
.change-txt-btns {
    margin-top: 1.125rem;
}

.change-pos-btns :not(:last-child),
.change-txt-btns :not(:last-child),
.change-txt-color-btn:not(:last-child) {
    margin-right: 0.65rem;
}

.control-btn,
.change-txt-btn {
    background-color: #ff8f03;
    border-radius: 1rem;
    margin-top: 1.125rem;
    width: 59px;
    height: 59px;
    border: none;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.75);
    transition: box-shadow 0.35s;
}

.control-btn:hover,
.change-txt-btn:hover {
    box-shadow: 1px 0px 5px 3px rgba(0, 0, 0, 0.75), inset 0px -2px 2px 2px rgba(0, 0, 0, 0.75);
}

.control-btn:active,
.change-txt-btn:active {
    box-shadow: inset 1px 1px 4px 2px rgba(0, 0, 0, 0.75);
}

.change-txt-deco-btns {
    justify-content: center;
    padding: 2rem 0;
}

.change-txt-color-btn {
    position: relative;
    width: 59px;
    height: 59px;
    transition: box-shadow 0.35s;
}

.change-txt-color-btn:hover {
    border-radius: 4px;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.75);
}

.change-txt-color-btn:active {}

.change-txt-deco-btns select {
    width: 12.825rem;
    margin-bottom: 2.25rem;
}

input[type="color"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transform: scale(0);
}

.social-btns {
    padding: 1rem;
}

.social-btns .btn {
    padding: 1rem;
    font-family: montse;
}

.social-btns .btn {
    background-color: #ff8f03;
    border-radius: 1rem;
    margin-top: 1.125rem;
    padding: 1rem;
    margin: 1rem;
    outline: none;
    font-size: 1.25rem;
    font-weight: bold;
    height: 59px;
    border: none;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.75);
    transition: box-shadow 0.35s;
}

.social-btns .btn:hover {
    box-shadow: 1px 0px 5px 3px rgba(0, 0, 0, 0.75), inset 0px -2px 2px 2px rgba(0, 0, 0, 0.75);
}

.social-btns .btn:active {
    box-shadow: inset 1px 1px 4px 2px rgba(0, 0, 0, 0.75);
}


/* Stickers - WIP */

.sticker-section {
    justify-content: space-between;
}

.edit-sticker {
    background-size: cover !important;
    width: 60px;
    height: 60px;
    margin: 0.25rem;
    transition: transform 0.35s, box-shadow 0.45s;
}

.edit-sticker:hover {
    transform: rotate(3deg);
    box-shadow: 0px -2px 6px 2px rgba(68, 63, 63, 0.568);
}

.pagination-btn {
    font-size: 1.75rem;
    border-radius: 50%;
    background-color: rgba(222, 184, 135, 0.616);
    box-shadow: 0px -2px 6px 2px rgba(0, 0, 0, 0.75);
    transition: transform 0.35s, box-shadow 0.45s;
}

.pagination-btn:hover {
    transform: scale(0.975);
    box-shadow: 0px -2px 6px 2px rgba(68, 63, 63, 0.568);
}


/* Footer */

.main-footer {
    background-color: #ff7f00;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.main-footer small {
    text-align: center;
    padding: 2rem;
    font-weight: bold;
}


/* Helpers */

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.clean-list {
    list-style-type: none;
}

.clean-link:visited {
    color: initial;
}

.clean-btn {
    outline: none;
}

.btn {
    cursor: pointer;
    text-decoration: none;
}

@media (max-width:740px) {
    .main-content.edit-mode .main-editor {
        flex-direction: column;
        width: 100%;
        padding: 1rem 0;
    }
    .canvas-controls,
    .social-btns {
        margin: 1rem 0;
    }
    .control-btn,
    .change-txt-btn,
    .change-txt-color-btn {
        margin-top: 1.125rem;
        width: 50px;
        height: 50px;
    }
    .change-txt-deco-btns select {
        width: 100%;
    }
    .social-btns .btn {
        padding: 0.75rem;
        font-family: montse;
    }
    .main-footer {
        position: relative;
    }
}